tbody tr:nth-child(odd){
    background-color: green;
}
tbody tr:nth-child(even){
    background-color:  red;
}
tbody tr:hover{
    color: yellow;
    background-color:  blue;
}
table {
    border-collapse: collapse;
}
thead tr {
    color: white;
    background-color:  black;
}
tr{
    border-bottom: 5px solid cyan;
}